.m-slide-container{
    width: 100%;
    background: #faf9f7;
}
.slideshow-container {
    width: 80%;
    position: relative;
    margin: auto;

  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  .slides{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      padding: 100px;
  }
  .main-slides{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

  }
  .slides-txt{
      width: 50%;
      padding-right: 50px;
  }
  .slides-txt h2{
      font-size: 40px;
    color: #2977C9;
    font-weight: 400;
  }
  .slides-txt P{
      font-size: 32px;
      font-weight: 200;
      color: #5e5e5d;
      padding-top: 10px;
  }
  .slides-img{
      width: 50%;
      border-radius: 50%;
      padding: 20px;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: relative;
    top: 5%;
    float: right;
    width: auto;
    margin-top: 22px;
    padding: 16px;
    color: rgba(0,0,0,0.6);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(207,207,207,0.25);
  }

  
  .ac, .dot:hover {
    background-color: #717171;
  }
  
  @media all and (max-width: 1025px){
    .slides-txt,
    .slides-img{
         width: 100%;
    }
    .slides-txt{
         width: 100%;
         padding-right: 0;
    }
  }
 