.j-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background: #faf9f7;
    padding: 10em 0;
}
.j-left{
    display: flex;
    justify-content: flex-end;
    width: 50%;
    flex-wrap: wrap;
}
.j-left h1{
    width: 50%;
    font-size: 48px;
    margin: 0 40px;
    font-weight: 200;
    color: rgba(0,0,0,0.9);
    line-height: 60px;
}
.j-right{
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.j-right p{
    font-weight: 600;
    line-height: 1.25;
    color: rgba(0, 0, 0, 0.6);
}
/* collapsable */
.collapsible {
    color: black;
    cursor: pointer;
    padding: 10px 60px 0 0;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
    font-weight: 600 !important;
    letter-spacing: .0125em;
  }
  .collapsible ul{
      display: grid;
      grid-template-columns: repeat(3, auto);
      gap: 10px;
  }
.collapsible ul li{
    border-radius: 28px;
    text-align: center;
    padding: 8px 8px;
    background: #e6e6e4;
}
.collapsible ul li a{
    color: #5d5d5c;
}
  
 
  
  .collapsible:after {
    content: "show more \02C5";
    color: #7c7c7c;
    font-weight: bold;
    float: left;
    margin-left: 5px;
    margin-top: 10px;
  }
  
  .active:after {
    content: "show less \02C4";
  }
  
  .content {
    padding: 0 18px 0 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  .content ul{
      display: grid;
      grid-template-columns: repeat(3, auto);
      gap: 10px;
      flex-wrap: wrap;
  }
  .content ul li{
    border-radius: 28px;
    text-align: center;
    padding: 8px 8px;
    background: #e6e6e4;
    font-weight: 600;
    font-size: 20px;
  }
  .content ul li a{
    color: #5d5d5c;
  }
.content p{
    font-size: 16px;
    padding: 10px 0 20px 0;
}
@media all and (max-width: 768px){
    .j-left{
        width: 100%;
        justify-content: center;
    }
    .j-right{
        width: 100%;
        justify-content: center;
    }
    .collapsible ul{
        padding: 20px;
        grid-template-columns: repeat(2, auto);
    }
    .content ul{
        padding: 20px;
        grid-template-columns: repeat(2, auto);
    }
}
@media all and (max-width: 320px){
    .content ul{
        grid-template-columns: repeat(1, auto);
    }
}
/* post job styling */
.p-containter{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 30px;
    width: 100%;
}
.p-left{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 10px;
    text-align: center;
}
.p-right{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 10px;
    text-align: center;
}
.p-right p a{
    padding: 20px;
    border: 1px solid black;
}