.c-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 200px 0;
}
.c-left{
    padding: 0 20px;
    margin: 0 auto;
}
 .c-left h2,
 .c-right h2{
    font-weight: 200;
    font-size: 40px;
    color: rgba(0, 0, 0, 0.9);
    line-height: 1.25;
    margin:  0 0 40px;
    width: 60%;

}

.c-left p a{
    padding: 8px 20px;
    border-radius: 28px;
    color: rgba(0,0,0,0.6);
    border: 1px solid rgba(0,0,0,0.6);
    text-align: center;
    font-weight: 600;
}

.c-right{
    padding: 0 20px;
}
@media all and (max-width: 1042px){
    .c-left{
        margin-right: 0px;
    }
}

/* dropdown menu */
.dropbtn {
    background-color: #ebebeb;
    color: rgba(0,0,0,0.6);
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  .dropbtn:hover, .dropbtn:focus {
    background-color: #ebebeb;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover {background-color: #ddd}
  .show {display:block;}



  /* who it is meant for section styling */
  .m-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  .m-left{
    display: flex;
    justify-content: center;
    position: relative;
    min-height: 800px;
    width: 90%;
    background: #faf9f7;

  }
  .mleft-content{
    position: absolute;
    height: 800px;
    display: flex;
    width: 60%;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }
  .mleft-content h2{
      color: #b24020;
      font-size: 40px;
      font-weight: 400;
  }
  .mleft-content h3{
      font-size: 32px;
      font-weight: 200;
      line-height: 1.25;
      margin-bottom: 40px;
  }
.co{
       padding: 8px 20px;
       background: #f1ece5;
       margin: 10px 0;
       width: 400px;
  }
.co::after{
    content: '\003E';
    color: black;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}
  .find{
    padding: 8px 20px;
    background: #f1ece5;
    margin: 10px 0;
    width: 400px;
  }
  .find::after{
    content: '\003E';
    color: black;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  .train{
    padding: 8px 20px;
    background: #f1ece5;
    margin: 10px 0;
    width: 400px;
  }
  .train::after{
    content: '\003E';
    color: black;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  .m-right{
    padding: 70px 50px;

    width: 100%;
    height: 100%;
    background: white;
  }
  @media all and (max-width: 768px){
      .m-container{
          flex-wrap: wrap;
      }
      .m-left{
         width: 100%;
      }
      .m-right{
          width: 100%;
      }
      .co,
      .find,
      .train{
          width: 200px;
      }
  }

  /* youtubr section */
  section{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
}
.left-image{
    display: flex;
    align-items: center;
    height: 600px;
    border-radius: 8px;
}
.left-image iframe{
    border-radius: 5px;
}

.right-text{
    width: 50%;
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:30px;
    background: #f4faff;
    border-radius: 8px;
    margin-left: -100px;
}
.right-text p{
    font-size: 17px;
}
.about-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 30px;
}
.about-content h2{
   padding: 15px 0;
   font-size: 40px;
   font-weight: 400;
   color: #b24020;
   width: 70%;
   margin: 0 auto;
}
.about-content h3{
    width: 70%;
    margin: 0 auto;
    font-size: 40px;
    font-weight: 200;
    line-height: 1.25;
  
    color: rgba(0, 0, 0, 0.9);
 }

@media all and (max-width: 768px){
     .about-container{
         flex-direction: column;
         width: 100%;
         margin: 0 20px;
         overflow: hidden;
     }
     .left-image{
         width: 100%;
         text-align: center;
     }
     .left-image{
         text-align: center;
     }
     .right-text{
         width: 80%;
         margin: 0;
         margin-top: -150px;
     }
}